/* Variables */
:root {
    --color-letra : #f2f2f2;
    --background-extremos: #32384d;
    --background-seccion: #e29930;
    --medida-desk: 1200px;
    --medida-tablet: 750px
}

body {
    width: var(--medida-desk);
    margin: auto;
}

.navbar {
    padding: 2rem;
    background-color: var(--background-extremos);
    width: var(--medida-desk);
    margin: auto;   
}

.navbar-collapse {
    display: flex;
    align-items: center;
    justify-content: end;
}

.nav-item {
    padding: 0 30px;
}

.navbar-brand {
    font-family: 'Work Sans', sans-serif;
    font-size: 2.3em;
}

.nav-link {
    color: var(--color-letra);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.2em;
}

.nav-link:hover {
    color: var(--background-seccion);
}


/* Header */
.header-container, .sobre-mi {
    height: 700px;
    background-color: var(--background-seccion);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header img {
    padding: 30px;
    padding-top: 50px;
    width: 300px;
    height: 200px;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}

.titulo-gral {
    font-family: 'Work Sans', sans-serif;
    font-size: 3.5rem;
}

.titulo-oscuro {
    color: var(--background-extremos);

}

.divisorio-gral {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding-top: 30px;
}

.linea-gral {
    height: 0px;
}

.linea-header {
    width: 230px;
    border: 3px solid var(--background-extremos);
}

.divisorio-gral i {
    color: var(--background-extremos);
    font-size: 40px;
    padding: 35px;
}

.texto-header {
    color: var(--background-extremos);
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5rem;
    padding-top: 35px;
}

/* Seccion de proyectos */
.proyectos {
    height: 900px;
    width: var(--medida-desk);
    background-color: var(--color-letra);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-claro {
    color: var(--background-seccion);
    text-align: center;
    padding-top: 120px;
}

.linea-seccion {
    width: 100px;
    border: 3px solid var(--background-seccion);
}

.proyectos .divisorio-seccion i {
    color: var(--background-seccion);
    font-size: 40px;
    padding: 35px;
}

.contenedor-proyectos {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    padding: 50px;
}
.proyecto-gral {
    height: 230px;
    flex: 30%;
    max-width: 30%;
    margin: auto;
    margin-bottom: 35px;
}

.img-proyecto {
    border-radius: 10px;
    border: 3px solid var(--background-seccion);
    transition: 0.6s;
}

.proyecto {
    position: relative;
}

.icono-proyecto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    transition: 0.6s;
}

.icono-proyecto i {
    color: var(--background-seccion);
    font-size: 60px;
}

.proyecto:hover {

    .img-proyecto {
        opacity: 0.1;
    }
    .icono-proyecto {
        display: block;
    }
}

/* Seccion sobre mi */

.sobre-mi {
    height: 750px;
}

.sobre-mi .titulo-oscuro {
    padding-top: 120px;
    padding-bottom: 0px;
}

.sobre-mi .divisorio-gral {
    padding-top: 0px;
}
.sobre-mi .linea-gral {
    width: 100px;
}

.contenedor-seccion-sobremi {
    padding: 40px;
    display: flex;
    flex-wrap: nowrap;
    color: var(--background-extremos);
    font-family: 'Work Sans', sans-serif;
    font-size: 1.2rem;
    text-align: left;
    width: 70%;
    overflow: visible;
}

.contenedor-seccion-sobremi p {
    padding: 25px;
}

.contenedor-descarga {
    border: 2px solid var(--background-extremos);
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.contenedor-descarga:hover {
    background-color: var(--background-extremos);
    .link-descarga {
        color: var(--background-seccion);
    }
}

.contenedor-descarga:hover i {
    color: var(--background-seccion);
}

.contenedor-descarga i, .link-descarga {
    text-decoration: none;
    color: var(--background-extremos);
    font-size: 1.3rem;
    text-align: center;
    font-weight: 500;
    padding: 7px;

}
.link-descarga {
    text-decoration: none;
}

/* Seccion contacto */
.contacto {
    width: var(--medida-desk);
    height: 960px;
    background-color: var(--color-letra);
}

.contacto .divisorio-gral {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
    padding-bottom: 30px;
}

.contacto .divisorio-seccion i {
    color: var(--background-seccion);
    font-size: 40px;
    padding: 35px;
}

.formulario {
    width: 50%;
    margin: auto;
}

.formulario label {
    font-family: 'Nunito Sans', sans-serif;
    color: var(--background-seccion);
    font-size: 1.2rem;
}

.formulario input, .formulario textarea {
    background-color: var(--color-letra);
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid var(--background-seccion);
    margin-bottom: 35px;
    padding-top: 2px;
    outline: none;
}

/* Sacar el focus azul predeterminado */
input:focus, input.form-control:focus, textarea.form-control:focus {
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    background-color: var(--color-letra);
    border-bottom: 4px solid var(--background-seccion);
}

.formulario textarea {
    height: 150px;
}

.formulario .btn-contacto {
    font-family: 'Nunito Sans', sans-serif;
    color: var(--color-letra);
    background-color: var(--background-seccion);
    width: 90px;
    height: 50px;
    border-radius: 7px;
    text-align: center;
    font-size: 1.2rem;
}

/* Footer */
footer {
    padding: 2rem;
    background-color: var(--background-extremos);
    width: var(--medida-desk);
    margin: auto;   
}

.contenedor-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 30px;
}

.contenedor-footer p {
    font-family: 'Nunito Sans', sans-serif;
    color: var(--color-letra);
}

.contenedor-footer p:hover{
    color: var(--background-seccion);
}

.redes a {
    padding: 20px;
    color: var(--color-letra);
}

.redes a i {
    font-size: 20px;
    transition: all 0.6ms;
}

.redes a i:hover {
    color: var(--background-seccion);
}


/*Responsive Area*/
@media all and (min-width: 768px) and (max-width: 1200px) {

    body {
        width: var(--medida-tablet);
    }

    .navbar {
        width: var(--medida-tablet);
    }

    .btn-menu i{
        font-size: 40px;
    }

    .navbar-collapse {
        justify-content: start;
    }

    /* Seccion de proyectos */
    .proyectos {
        width: var(--medida-tablet);
        height:1200px;
    }

    .contenedor-proyectos {
        width: 100%;
    }

    .proyecto-gral {
        height: 230px;
        flex: 50%;
        max-width: 50%;
    }

    /* Seccion sobre mi */
    .sobre-mi {
        width: var(--medida-tablet);
        height: 900px;
    }

    .sobre-mi .titulo-oscuro {
        padding-top: 50px;
    }

    .contenedor-seccion-sobremi {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    /* Seccion contacto */
    .contacto {
        width:100%;
        height: 960px;
    }

    .formulario {
        width: 90%;
    }
    /*    Hasta aca el responsive aplicado en contacto 1200 - 768   */ 
    /* Footer */
    footer {
        width: var(--medida-tablet);
    }

    .contenedor-footer {
        display: flex;
        align-items: center;
        padding: 0px;
    }

    .contenedor-footer p {
        margin: auto;
    }

    .redes a {
        padding: 0 20px;
    }
}

@media all and (min-width: 520px) and (max-width: 767px){
    
    body {
        width: 100%;
    }
    .navbar {
        padding: 2rem;
        width: 100%;        
    }
    
    .btn-menu i{
        font-size: 40px;
    }

    .navbar-collapse {
        justify-content: start;
    }

    /* Header */            
    .linea-header {
        width: 170px;
    }
    
    .texto-header {
        padding-top: 40px;
    }

    /* Seccion de proyectos */
    .proyectos {
        height: 2250px;
        width: 100%;
    }

    .linea-seccion {
        width: 130px;
    }

    .contenedor-proyectos {
        width: 80%;
        padding: 35px;
        margin: auto;
    }

    .proyecto-gral {
        height: 320px;
        flex: 80%;
        max-width: 90%;
        margin: 0px auto;
    }

    .img-proyecto {
        max-height: 320px;
        margin: auto;
        width: 100%;
    }

    .proyecto {
        position: relative;
    }

    .icono-proyecto {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-40%, -50%);
    }

    /* Seccion Sobre-mi */
    .sobre-mi {
        width: 100%;
        height: 950px;
    }

    .contenedor-seccion-sobremi {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    /* Seccion contacto */
    .contacto {
        width: 100%;
        height: 960px;
    }

    .formulario {
        width: 90%;
    }

    /* Footer */
    footer {
        width: 100%;
        /* margin: auto; */
    }

    .contenedor-footer {
        justify-content: space-around;
        align-items:last baseline;
        padding: 20px;
    }

    .redes a {
        padding: 0 20px;
    }
}

@media all and  (min-width: 320px) and (max-width: 519px){

    body {
        width: 100%;
    }
    .navbar {
        width: 100%;   
    }

    .navbar-brand {
        display: none;
    }

    .btn-menu i{
        font-size: 40px;
    }

    .navbar-collapse {
        padding-top: 30px;
        justify-content: start;
    }

    /* Header */

    .header-container {
        height: 700px;
        width: 100%;
    }
    
    .titulo-gral {
        font-size: 2.5rem;
    }
    
    .linea-header {
        width: 100px;
    }
    
    .divisorio-gral i {
        color: var(--background-extremos);
        font-size: 40px;
        padding: 35px;
    }
    
    .texto-header {
        font-size: 1.8rem;
        padding-top: 40px;
    }

    /* Seccion de proyectos */
    .proyectos {
        height: 2200px;
        width: 100%;
    }

    .linea-seccion {
        width: 100px;
    }   

    .contenedor-proyectos {
        width: 100%;
        padding: 50px 3px;
    }

    .proyecto-gral {
        max-height: 300px;
        height: 300px;
        flex: 100%;
        max-width: 400px;
        margin: auto;
    }

    .img-proyecto {
        width: 100%;
        height: auto;
        max-height: 300px;
    }

    .icono-proyecto {
        position: absolute;
        top: 40%;
        left: 50%;
    }

    /* Seccion sobre mi */
    .sobre-mi{
        width: 100%;
        height: auto;
    }

    .sobre-mi .titulo-oscuro {
        padding-top: 80px;
    }

    .contenedor-seccion-sobremi {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 5px;
    }

    .contenedor-seccion-sobremi p {
        width: 100%;
    }

    .contenedor-descarga {
        padding-top: 5px;
        margin-bottom: 30px;
    }

    /* Seccion contacto */
    .contacto {
        width: 100%;
        height: 960px;
    }

    .formulario {
        width: 90%;
        margin: auto;
    }

    /* Footer */
    footer {
        width: 100%;
        margin: auto;   
    }

    .contenedor-footer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 0 30px;
    }
}

