/* Variables */
:root {
    --color-letra : #f2f2f2;
    --background-extremos: #3b4457;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    padding: 2rem;
    background-color: var(--background-extremos)
}

.navbar-collapse {
    display: flex;
    align-items: center;
    justify-content: end;
}

.nav-item {
    padding: 0 30px;
}

.navbar-brand {
    font-family: 'Work Sans', sans-serif;
    font-size: 2.3em;
}

.nav-link {
    color: var(--color-letra);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.2em;
}





/*Responsive area*/

@media all and (max-width: 992px) {
    .btn-menu i{
        border: 2px solid var(--color-letra);
        border-radius: 7px;
        font-size: 30px;
    }
}

@media all and (max-width:768px){
    .navbar-collapse {
        justify-content: start;
    }
}

@media all and (max-width: 320px){
    .navbar-brand {  
        margin: auto;
        padding: 10px 0;
    }

}
/*


@media(max-width: 480px) {
    .nav-bar{
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: var(--negro);
    }
} /*